* {
  box-sizing: border-box;
}
body {
  /*background-color:@background-color;*/
  margin: 0px;
  padding: 0px;
}
#logo {
  color: #280A66;
  margin-top: 5px;
}
#changeButton {
  background-color: #280A66;
  color: white;
}
header {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}
/*:::::::::::::tablet::::::::::::::::::::*/
/*:::::::::::: tablet ends ::::::::::::::::*/
/*:::::::::::::desktop::::::::::::::::::::*/
